{% extends "base_generic.html" %}

{% block title %}
    <title>Local Library by Pedro Urbina</title>
{% endblock %}

{% block content %}
  <h1>Local Library by Pedro</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books containing the letter '{{ string_searched }}' in the title:</strong> {{ num_books_containing }}</li>
    <li><strong>Genres Containing '{{ string_searched }}':</strong> {{ num_genres_containing }}</li>
    <li><strong>Genres: </strong> {{number_genres}} </li>
  </ul>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

{% endblock %}